ul {
    list-style: none;
}

ul h2, p {
    color: black;
    margin: 0;
}

ul img {
    max-width: 500px;
}

li {
    margin: 30px 20px;
}

nav {
    background-color: rgba(62, 174, 230, 0.863);
    padding: 15px;
}

nav img {
    height: 40px;
}

.beerContainer {
    margin: 40px 0 60px 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(49, 49, 49, 0.555);
    padding-bottom: 50px;
}

.beerContainer img {
    width: 40px;
}

.beerInfo {
    margin-left: 20px;
}

.beerLink {
    color: black;
}

.beerInfoContainer {
    margin: 40px 0 60px 40px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.beerInfoContainer img {
    width: 80px;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

form {
    width: 800px;
    background-color: rgba(221, 236, 249, 0.603);
    padding: 20px;
    border: 1px solid rgb(128, 185, 235);
    border-radius: 12px;
}

.formField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formField input, textarea {
    width: 60%;
}
