body {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
  text-decoration: none !important;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin-bottom: 50px;
}

button {
  background-color: white;
  color: rgb(27, 144, 247);
  border: 1px solid rgb(27, 144, 247);
  border-radius: 12px;
  padding: 8px 10px;
}

button:hover {
  background-color: rgb(27, 144, 247);
  color: white;
}